In [2]:
import pandas as pd
import numpy as np

In [3]:
# Reading the CSV file
original_data = pd.read_csv("./originales_clase_2/tb_sellout_01.txt.gz", header=None)
original_categories = pd.read_csv("./maestro_productos.csv")

/tmp/ipykernel_11188/2595058900.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  original_data = pd.read_csv("./originales_clase_2/tb_sellout_01.txt.gz", header=None)

In [4]:
original_categories

       cat1            cat2        cat3    brand  sku_size  product_id
0        HC     ROPA LAVADO     Liquido  LIMPIEX       900       20280
1        HC     ROPA LAVADO     Liquido  LIMPIEX       450       20180
2        HC     ROPA LAVADO     Liquido  LIMPIEX       120       20332
3        HC     ROPA LAVADO     Liquido  LIMPIEX       450       20222
4        HC     ROPA LAVADO     Liquido  LIMPIEX       900       20288
...     ...             ...         ...      ...       ...         ...
1246  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2        12       20240
1247  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         6       20285
1248  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         2       20259
1249  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2        12       20142
1250  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         6       20890

[1251 rows x 6 columns]

In [5]:
# print only rows of duplicated product_id
original_categories[original_categories.duplicated(['product_id'], keep=False)]

Empty DataFrame
Columns: [cat1, cat2, cat3, brand, sku_size, product_id]
Index: []

In [6]:
#remove duplicates from original_categories
original_categories = original_categories.drop_duplicates(subset=['product_id'])
original_categories

       cat1            cat2        cat3    brand  sku_size  product_id
0        HC     ROPA LAVADO     Liquido  LIMPIEX       900       20280
1        HC     ROPA LAVADO     Liquido  LIMPIEX       450       20180
2        HC     ROPA LAVADO     Liquido  LIMPIEX       120       20332
3        HC     ROPA LAVADO     Liquido  LIMPIEX       450       20222
4        HC     ROPA LAVADO     Liquido  LIMPIEX       900       20288
...     ...             ...         ...      ...       ...         ...
1246  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2        12       20240
1247  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         6       20285
1248  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         2       20259
1249  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2        12       20142
1250  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         6       20890

[1251 rows x 6 columns]

In [7]:
original_categories.to_csv("./maestro_productos.csv", index=False)

In [8]:
data_series = original_data.iloc[:, 0]
column_names = data_series[:6].tolist()
data_series = data_series[6:]

# Ensuring the data length is a multiple of 5
data_series = data_series[: len(data_series) - (len(data_series) % 6)]

# Reshaping the data
reshaped_data = data_series.values.reshape(-1, 6)

df = pd.DataFrame(
    reshaped_data,
    columns=column_names,
)

In [9]:
df

,periodo,customer_id,product_id,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,2,0.053,0.053
1,201701,10032,20524,1,0.13628,0.13628
2,201701,10217,20524,1,0.03028,0.03028
3,201701,10125,20524,1,0.02271,0.02271
4,201701,10012,20524,11,1.54452,1.54452
...,...,...,...,...,...,...
2945813,201912.0,10105.0,20853.0,1.0,0.0223,0.0223
2945814,201912.0,10092.0,20853.0,1.0,0.00669,0.00669
2945815,201912.0,10006.0,20853.0,7.0,0.02898,0.02898
2945816,201912.0,10018.0,20853.0,4.0,0.01561,0.01561
2945817,201912.0,10020.0,20853.0,2.0,0.01561,0.01561

In [10]:
df['periodo'] = df['periodo'].astype(int)
df['product_id'] = df['product_id'].astype(int)
df['customer_id'] = df['customer_id'].astype(int)
df['cust_request_qty'] = df['cust_request_qty'].astype(float)
df['cust_request_tn'] = df['cust_request_tn'].astype(float)
df['tn'] = df['tn'].astype(float)

In [11]:
print(df["cust_request_qty"].sum(), df["cust_request_tn"].sum(), df["tn"].sum())

6329834.0 1353074.0208099994 1324988.5884099994

In [12]:
# print unique number of customer_id, product_id, and period
print(df["customer_id"].nunique(), df["product_id"].nunique(), df["periodo"].nunique())

597 1233 36

In [14]:
df

,periodo,customer_id,product_id,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,2.0,0.05300,0.05300
1,201701,10032,20524,1.0,0.13628,0.13628
2,201701,10217,20524,1.0,0.03028,0.03028
3,201701,10125,20524,1.0,0.02271,0.02271
4,201701,10012,20524,11.0,1.54452,1.54452
...,...,...,...,...,...,...
2945813,201912,10105,20853,1.0,0.02230,0.02230
2945814,201912,10092,20853,1.0,0.00669,0.00669
2945815,201912,10006,20853,7.0,0.02898,0.02898
2945816,201912,10018,20853,4.0,0.01561,0.01561
2945817,201912,10020,20853,2.0,0.01561,0.01561

In [15]:
df_clientes = df.groupby(['customer_id', 'periodo'])[['cust_request_qty', 'cust_request_tn', 'tn']].sum()
df_productos = df.groupby(['product_id', 'periodo'])[['cust_request_qty', 'cust_request_tn', 'tn']].sum()

In [16]:
print("ORIGINAL", df["cust_request_qty"].sum(), df["cust_request_tn"].sum(), df["tn"].sum())
print("CLIENTES", df_clientes["cust_request_qty"].sum(), df_clientes["cust_request_tn"].sum(), df_clientes["tn"].sum())
print("PRODUCTOS", df_productos["cust_request_qty"].sum(), df_productos["cust_request_tn"].sum(), df_productos["tn"].sum())

ORIGINAL 6329834.0 1353074.0208099994 1324988.5884099994
CLIENTES 6329834.0 1353074.02081 1324988.58841
PRODUCTOS 6329834.0 1353074.02081 1324988.5884099999

In [17]:
df_productos.reset_index(inplace=True)

In [18]:
df_productos

       product_id  periodo  cust_request_qty  cust_request_tn          tn
0           20001   201701             479.0        937.72717   934.77222
1           20001   201702             432.0        833.72187   798.01620
2           20001   201703             509.0       1330.74697  1303.35771
3           20001   201704             279.0       1132.94430  1069.96130
4           20001   201705             701.0       1550.68936  1502.20132
...           ...      ...               ...              ...         ...
31238       21295   201701               1.0          0.00699     0.00699
31239       21296   201708               1.0          0.00651     0.00651
31240       21297   201701               1.0          0.00579     0.00579
31241       21298   201708               1.0          0.00573     0.00573
31242       21299   201708               1.0          0.00546     0.00546

[31243 rows x 5 columns]

In [19]:
df_productos = pd.merge(df_productos, original_categories[['product_id', 'cat1']], on='product_id', how='left')
df_productos.rename(columns={'cat1': 'product_category'}, inplace=True)
df_productos

,product_id,periodo,cust_request_qty,cust_request_tn,tn,product_category
0,20001,201701,479.0,937.72717,934.77222,HC
1,20001,201702,432.0,833.72187,798.01620,HC
2,20001,201703,509.0,1330.74697,1303.35771,HC
3,20001,201704,279.0,1132.94430,1069.96130,HC
4,20001,201705,701.0,1550.68936,1502.20132,HC
...,...,...,...,...,...,...
31238,21295,201701,1.0,0.00699,0.00699,NaN
31239,21296,201708,1.0,0.00651,0.00651,NaN
31240,21297,201701,1.0,0.00579,0.00579,NaN
31241,21298,201708,1.0,0.00573,0.00573,NaN
31242,21299,201708,1.0,0.00546,0.00546,NaN

In [20]:
df_producto_estrella = df_productos[df_productos['product_id'] == 20001]

In [21]:
df_producto_estrella

,product_id,periodo,cust_request_qty,cust_request_tn,tn,product_category
0,20001,201701,479.0,937.72717,934.77222,HC
1,20001,201702,432.0,833.72187,798.01620,HC
2,20001,201703,509.0,1330.74697,1303.35771,HC
3,20001,201704,279.0,1132.94430,1069.96130,HC
4,20001,201705,701.0,1550.68936,1502.20132,HC
5,20001,201706,570.0,1575.82891,1520.06539,HC
6,20001,201707,381.0,1086.47101,1030.67391,HC
7,20001,201708,643.0,1289.66869,1267.39462,HC
8,20001,201709,381.0,1356.96103,1316.94604,HC
9,20001,201710,273.0,1441.60247,1439.75563,HC
10,20001,201711,519.0,1586.94356,1580.47401,HC
11,20001,201712,435.0,1098.83929,1049.38860,HC
12,20001,201801,437.0,1256.01136,1169.07532,HC
13,20001,201802,302.0,1150.37849,1043.76470,HC
14,20001,201803,591.0,1902.79056,1856.83534,HC
15,20001,201804,384.0,1286.12277,1251.28462,HC
16,20001,201805,456.0,1303.62129,1293.89788,HC
17,20001,201806,497.0,1198.50145,1150.79169,HC
18,20001,201807,458.0,1528.59380,1470.41009,HC
19,20001,201808,535.0,1859.88471,1800.96168,HC
20,20001,201809,401.0,1629.37910,1438.67455,HC
21,20001,201810,417.0,2423.70881,2295.19832,HC
22,20001,201811,447.0,1945.84961,1813.01511,HC
23,20001,201812,453.0,1562.28968,1486.68669,HC
24,20001,201901,370.0,1371.76430,1275.77351,HC
25,20001,201902,367.0,1343.99435,1259.09363,HC
26,20001,201903,454.0,1607.18772,1470.65653,HC
27,20001,201904,478.0,1757.73271,1647.63848,HC
28,20001,201905,308.0,1694.39604,1629.78233,HC
29,20001,201906,396.0,1261.53572,1109.93769,HC
30,20001,201907,432.0,1782.81423,1678.99318,HC
31,20001,201908,365.0,1263.13762,1261.34529,HC
32,20001,201909,392.0,1734.24194,1660.00561,HC
33,20001,201910,367.0,1587.87525,1561.50552,HC
34,20001,201911,392.0,1446.07905,1397.37231,HC
35,20001,201912,407.0,1650.46149,1504.68856,HC

In [22]:
df_clientes

                     cust_request_qty  cust_request_tn          tn
customer_id periodo
10001       201701             4013.0       2567.40529  2543.89944
            201702             2923.0       3010.01367  3007.08273
            201703             5848.0       3820.64849  3772.79718
            201704             4474.0       3333.73931  3283.44204
            201705             5328.0       3761.19311  3753.20470
...                               ...              ...         ...
10634       201702               17.0          0.10288     0.10288
10635       201701               22.0          0.06083     0.06083
            201703               29.0          0.03446     0.03446
10636       201702                5.0          0.03605     0.03605
10637       201709                2.0          0.00288     0.00288

[16492 rows x 3 columns]

In [25]:
# Find all unique values for 'periodo' and 'product_id'
unique_periodos = df['periodo'].unique()
unique_product_ids = df['product_id'].unique()
unique_customer_ids = df['customer_id'].unique()
len(unique_periodos), len(unique_product_ids), len(unique_customer_ids)

(36, 1233, 597)

In [27]:
print("Shape antes: ", df_productos.shape)

from itertools import product

# Create all possible combinations of 'periodo' and 'product_id'
all_combinations = list(product(unique_periodos, unique_product_ids))

# Convert the combinations into a DataFrame
all_combinations_df = pd.DataFrame(all_combinations, columns=['periodo', 'product_id'])

# Merge with the existing DataFrame to find missing rows
combined_df = all_combinations_df.merge(df_productos, on=['periodo', 'product_id'], how='left')

# Identify the missing rows by looking for NaNs
missing_rows = combined_df[combined_df['cust_request_qty'].isna()]

# For the missing rows, set 'cust_request_qty', 'cust_request_tn', and 'tn' to 0
# We also need to decide how to handle 'product_category'. For now, we'll set it as 'Unknown'
missing_rows.loc[:, 'cust_request_qty'] = 0
missing_rows.loc[:, 'cust_request_tn'] = 0
missing_rows.loc[:, 'tn'] = 0

# Look for other row with this product_id and asign the category
for index, row in missing_rows.iterrows():
    product_id = row['product_id']
    product_category = df_productos[df_productos['product_id'] == product_id]['product_category'].values[0]
    missing_rows.loc[index, 'product_category'] = product_category

# Now we append the missing rows to the original DataFrame
# convert to pd.concat: complete_df = df_productos.append(missing_rows[df_productos.columns], ignore_index=True)
df_productos = pd.concat([df_productos, missing_rows[df_productos.columns]], ignore_index=True)

# Return the number of new rows added and the path to the new file
num_new_rows = len(missing_rows)
print(num_new_rows)

print("Shape Después: ", df_productos.shape)

Shape antes:  (31243, 6)
13145
Shape Después:  (44388, 6)

In [28]:
# Debería tener resto 0
print(df_productos.shape[0] / 36)

1233.0

In [29]:
print("Shape antes: ", df_clientes.shape)
print(df_clientes.shape[0] / 36)

from itertools import product

# Create all possible combinations of 'periodo' and 'product_id'
all_combinations = list(product(unique_periodos, unique_customer_ids))

# Convert the combinations into a DataFrame
all_combinations_df = pd.DataFrame(all_combinations, columns=['periodo', 'customer_id'])

# Merge with the existing DataFrame to find missing rows
combined_df = all_combinations_df.merge(df_clientes, on=['periodo', 'customer_id'], how='left')

# Identify the missing rows by looking for NaNs
missing_rows = combined_df[combined_df['cust_request_qty'].isna()]

# For the missing rows, set 'cust_request_qty', 'cust_request_tn', and 'tn' to 0
# We also need to decide how to handle 'product_category'. For now, we'll set it as 'Unknown'
missing_rows.loc[:, 'cust_request_qty'] = 0
missing_rows.loc[:, 'cust_request_tn'] = 0
missing_rows.loc[:, 'tn'] = 0

# Now we append the missing rows to the original DataFrame
# convert to pd.concat: complete_df = df_productos.append(missing_rows[df_productos.columns], ignore_index=True)
df_clientes = pd.concat([df_clientes, missing_rows[df_clientes.columns]], ignore_index=True)

# Return the number of new rows added and the path to the new file
num_new_rows = len(missing_rows)
print(num_new_rows)

print("Shape Después: ", df_clientes.shape)

# Debería tener resto 0
print(df_clientes.shape[0] / 36)

Shape antes:  (16492, 3)
458.1111111111111
5000
Shape Después:  (21492, 3)
597.0

In [30]:
print("ORIGINAL", df["cust_request_qty"].sum(), df["cust_request_tn"].sum(), df["tn"].sum())
print("CLIENTES", df_clientes["cust_request_qty"].sum(), df_clientes["cust_request_tn"].sum(), df_clientes["tn"].sum())
print("PRODUCTOS", df_productos["cust_request_qty"].sum(), df_productos["cust_request_tn"].sum(), df_productos["tn"].sum())

ORIGINAL 6329834.0 1353074.0208099994 1324988.5884099994
CLIENTES 6329834.0 1353074.02081 1324988.58841
PRODUCTOS 6329834.0 1353074.02081 1324988.5884099999

In [31]:
df_producto_estrella.to_csv('tb_sellout_01_producto_estrella.csv', index=False)
df_productos.to_csv('tb_sellout_01_productos_todos.csv', index=False)
df_clientes.to_csv('tb_sellout_01_por_cliente.csv', index=True)