## Programming cheatsheet and exercises

The goal of these exercises is to teach you the use of _Python 3_ in the context of _Modelling and data analysis of chemical processes_. These programming lessons do not require prior programming experience. If you do have experience with programming in Python then you may find some exercises rather easy, so consider them a refresher.

## Introduction to This Template Notebook

**How to use?**:
* Run the code cell by putting the cursor there and pressing **Control-Enter**.

* The locations where you should write your solutions can be recognized by the following comment.

* Double-clicking markdown cells will reveal their content. Press **Control-Enter** to make the cells user-friendly again. 

>`# WRITE YOUR CODE HERE`

**Make sure to clear your variables using `%reset -f` when you are done with an exercise and run it from top to bottom**

<hr style="border:2px solid #eee">

## Learning Objectives

After this lesson, you should know:

1. The basic **data types** of Python.
1. How to use **expressions** and **variables** to work with data.
1. How to use **lists** and **dictionaries**.
1. How to use the `if` **statement**
1. How to use the `for` and the `while` **loop**.
1. How to define and call **functions**.
1. How to import **libraries**
1. How to make **plots**

## <#s>. Data Types

Python uses the following **primitive data types**:

* **`int`**: Integer
* **`float`**: Floating point number
* **`bool`**: Truth value in logical expressions (true or false)
* **`str`**: Character sequence (text)

And Python supports **iterables**
that combine the above data types into
composite data values.
Important composite data types in Python are:

* **`list`**: sequences of values from other types, including lists
* **`dict`**: Mapping between keys and values (of any type), similar to a list with non integer indexing
* **`str`**: Character sequence (text)

To verify the type of a variable you can use the function `type()`. For example:
```python
type(10) # int
```

Examples of creating all data types:
```python
# Creating int, float and str
num = 15 # Interpreted as integer
num_float = 15.0 # Interpreted as floating point number
num_float = float(num) # Converting int to floating point number
num_str = str(num) # Converting to string

# Creating iterables
my_list = [1, 2, 3] # Initializing list with three numbers

# Creating dictionary
my_dictionary = {"int": num,"float": num_float,"str": num_str}
```

## Exercise <#q> <d1/5>
a) Write a python script that stores the value `100` in the variable `num` and then prints the result onto the screen with `print(num)`

In [1]:
#! BEGIN ANSWER
num = 100
print(num)
#! END ANSWER

100

b) Convert num into `int`, `float`, and `str` and place all four variables into a list called `1`, print the result.

In [2]:
#! BEGIN ANSWER
l = [num, int(num), float(num), str(num)]
print(l)
#! END ANSWER

[100, 100, 100.0, '100']

c) Create a dictionary called `dictionary` containing the number `15` as an integer, float and string. Print the result.

In [3]:
#! BEGIN ANSWER
dictionary = {
    "int": int(15),
    "float": float(15),
    "str": str(15)
}

dictionary = {
    "int": 15,
    "float": 15.0,
    "str": "15"
}
#! END ANSWER
#! BEGIN EXCLUDE
print("`dictionary`=", dictionary)
#! END EXCLUDE

`dictionary`= {'int': 15, 'float': 15.0, 'str': '15'}

>Make sure to clear your variables before moving on to the next question by running the following code block

In [4]:
%reset -f

## <#s>. Arithmetic Operators

In Python, one can use the common **arithmetic operators** on
integers and floating-point numbers:

- `+` and `-` for addition and subtraction/negation
- `*` and `/` for multiplication and division
- <code>\*\*</code> for exponentiation, e.g. `2**3` stands for $2^3$
- `//` and `%` for integer division and remainder


### Here is how they work:

- The usual **order of operations** applies. 
    From strongest to weakest (strongest is applied first), the order is:   
    + `**`
    + `*`, `/`, `%` and `//`
    + `+` and `-`
- Division using `/` **always** returns a `float`.
- Integer division `//` **always** returns an `int`, rounding down the value (e.g. `100//101` will result in `0`).
- Floating-point arithmetic is inherently not exact;
    it has **limited precision** due to rounding.
    
**Parentheses** `()` are used for grouping regardless of binding precedence.

## Exercise <#q> <d1/5>
a) Write an expression to evaluate the product of $1903$ and $22302$.

In [5]:
#! BEGIN ANSWER
print(1903*22302)
#! END ANSWER

42440706

b) Write **one** expression to evaluate the formula $\frac{N(N+1)}{2}$ for $N=100$. This gives the sum of the integers from 1 through 100.
Make sure that the result is an **integer** and not a _floating-point number_.  

> **Hint:** Use integer division.

In [6]:
#! BEGIN ANSWER
N = 100
# Write your code here
N*(N+1)//2
#! END ANSWER

5050

c)  Below we define variables `pi` and `r`, representing an approximation of the number $\pi$ and the radius of a circle. Use these variables to compute the area of a circle with radius `r` and assign it to the variable `circle_area`.

In [7]:
pi = 3.1415926
r = 4

#! BEGIN ANSWER
circle_area = pi*r**2
#! END ANSWER

#! BEGIN EXCLUDE
print("`circle_area`$\\approx$", circle_area)
#! END EXCLUDE

`circle_area`$\approx$ 50.2654816

>Make sure to clear your variables before moving on to the next question by running the following code block

In [8]:
%reset -f

## <#s>. Working with sequences and iterators

Below you can find some examples of slicing and indexing and adding elements to lists and dictionaries. Indexing is often done by using the `[]` brackets.

**List**:
```python
# Making a list
l = [10, 11, 12]

# indexing a single value
print(l[1]) # 11
print(l[0]) # 10
print(l[-1]) # 12
print(l[-2]) # 11

# indexing multiple values
print(l[1:]) # [11, 12]
print(l[:-1]) # [10, 11]

# Adding an element to the list
l.append(55)
print(l[3]) # 55

# Getting the length of the list
len(l) # 4
```

**Dictionary**:
```python
# Making a dictionary
d = {"first": "first string","number": 5}

# Getting the values from the dictionary
print(d['first']) # "first string"
print(d['number']) # 5

# Adding an element to the dictionary
d["other number"] = 10
print(d["other number"]) # 10

# Getting the length of the list
len(l) # 3
```

Other examples:
* The `in` operator checks if a value exists inside an iterable. It returns a boolean. For example `1 in [1, 2, 3] == True`.
* In a dictionary, the `in` operator only acts on the keys. For example `'a' in {'a':1,'b':2} == True`.

## Exercise <#q> <d2/5>

a) Write a script to obtain the fourth to sixth (inclusive) characters of string `s`. Strings use the same indexing as lists.

In [9]:
s = "Hello_world"
#! BEGIN ANSWER
s[4:6]
#! END ANSWER
#! BEGIN EXCLUDE
print(s[4:6])
#! END EXCLUDE

o_

b) Write a script to obtain the first four elements of list `s`.

In [10]:
s = [0, 1, 2, 3, 4, 5, 6, 7]
#! BEGIN ANSWER
s[:4]
#! END ANSWER
#! BEGIN EXCLUDE
print(s[:4])
#! END EXCLUDE

[0, 1, 2, 3]

c) Append the number 50 to list `s` and print the result.

In [11]:
s = [0, 1, 2, 3, 4, 5, 6, 7]
#! BEGIN ANSWER
s.append(50)
print(s) # 50 is added 
#! END ANSWER

[0, 1, 2, 3, 4, 5, 6, 7, 50]

d) Modify the last element of `s` to be `"Hello world"` and print the result.

In [12]:
s = [0, 1, 2, 3, 4, 5, 6, 7]
#! BEGIN ANSWER
s[-1] = "Hello world"
print(s) # "Hello world"
#! END ANSWER

[0, 1, 2, 3, 4, 5, 6, 'Hello world']

e) Create an empty dictionary and add the number `5` to using `"number"` as a key. Print the result.

In [13]:
#! BEGIN ANSWER
d = {}
d["number"] = 5
print(d)
#! END ANSWER

{'number': 5}

f) Create an empty dictionary and add itself using `"self"` as a key. Print the result.

In [14]:
#! BEGIN ANSWER
d = {}
d["self"] = d

print(d)
#! END ANSWER

{'self': {...}}

>Make sure to clear your variables before moving on to the next question by running the following code block

In [15]:
%reset -f

## <#s>. More Expressions: Comparison Operators

**Comparison operators** yield boolean values (i.e. `True` or `False`):

* `==` and `!=` for _equality_ and _inequality_ (`<>` cannot be used)
* `<` and `>` for _less than_ and _greater than_
* `<=` and `>=` for _less than or equal_ and _greater than or equal_ (`=<` and `=>` cannot be used)

Notes:

* Comparison operators apply to numbers, strings, and lists (but not to a mix).
* Avoid equality operators on floating-point numbers.  
    Reason: Floating-point arithmetic is inherently not exact.  
    Thus, we have `0.1 + 0.2 != 0.3`.
* Comparison operators can be **chained**: `expr_1 <= expr_2 < expr_3`

## Exercise <#q> <d3/5>

a) Write a **comparison expression** to compare `1 + 2` and `3` for equality,
and execute it.

In [16]:
#! BEGIN ANSWER
1+2 == 3
#! END ANSWER

True

b) Write a **comparison expression** to verify that $0.1 + 0.2$ lies strictly between $0.299999$ and $0.300001$.  

> **Hint:** Use comparison operator chaining of the form `a < b < c`.

In [17]:
#! BEGIN ANSWER
0.299999 < 0.1+0.2 < 0.300001
#! END ANSWER

True

## <#s>. Logical Operators

**Logical operators** operate on boolean values:

* `and`, `or`, and `not` for conjunction, disjunction, and negation, and
* `if`-`elif`-`else` for **conditional evaluation**.

```python
if condition:
  "Do something"
elif other_condition:
  "Do other thing"
else:
  "Do something else"
```

Note:

* The logical operators bind _weaker_ than the other operators. Hence, you need parentheses when comparing the results of logical operators.
    
    * `a and b == c` &nbsp; is interpreted as &nbsp; `a and (b == c)` &nbsp; and _not_ as &nbsp; `(a and b) == c`

## Exercise <#q> <d2/5>

a) Write a **logical expression**, for integers $a,b,c$ defined below, that computes if $a$ is less than $b$ and $c$ is greater or equal to $b$.

In [18]:
a = 4
b = 4
c = 3

#! BEGIN ANSWER
a < b and c >= b
#! END ANSWER

False

b) Check if the dictionary `rob` has a key called `"age"`. If it does not have the key, assign `"age"` to 57. Print the result.

In [19]:
rob = {"species": "Homo Sapiens", "Gender": "masculine", "height": 1.97}

#! BEGIN ANSWER
if not "age" in rob:
  rob["age"] = 57
print(rob)
#! END ANSWER

{'species': 'Homo Sapiens', 'Gender': 'masculine', 'height': 1.97, 'age': 57}

c) Given three numbers $a,b,c$, pick the highest one using conditional statements.

In [20]:
a = 1
b = 2
c = 3

#! BEGIN ANSWER
if a>=b and a>=c:
  print(a)
elif b >= a and b >= c:
  print(b)
else:
  print(c)
#! END ANSWER

3

>Make sure to clear your variables before moving on to the next question by running the following code block

In [21]:
%reset -f

## <#s>. For and while loops

**For loop**

The **`for` loop** allows us to iterate over a an iterable, i.e. to execute a set of statements for each element of a list. It has the following syntax:
```python
for x in iterable:      
    statements
```
Wherein **`statements`** is a block of one or more statements **indented** to the same level. It has the following semantics:

1. assign elements from `list` to the variable `x` one by one, and;
1. execute the `statements` for each element assigned to `x`.

For example, let us define a list of numbers `number_list` and only print the ones higher than 5.
```python
# Define a test iterable (list in this case)
iterable = [10, 1, 2, 5, 3, 7, 20]

# Loop over all elements of iterable
for element in iterable:
  # For the statement we check if the current element > 5
  if element > 5:
    print(element)
```

**While loop**

The **`while` loop** allows us to execute a set of statements until a condition turns false. For example, take the following code which tries to find the first number higher than 5 in a list:
```python
# Define a test iterable (list in this case)
iterable = [1, 2, 5, 3, 7, 20]

# Loop over all elements of iterable
i = 0 # Index which will vary as the while block is executed
while iterable[i] <= 5: # Runs until iterable[i] > 5
  i += 1 # Search the next element of the list

print(iterable[i]) # 7
```

## Exercise <#q> <d3/5>

a) Use a for loop to compute the sum of elements in a list of numbers `l`. Make sure to initialize before starting the for loop.

In [22]:
l = [1, 2, 3, 4, 5, 6]

#! BEGIN ANSWER
s = 0
for element in l:
  s += element
#! END ANSWER
#! BEGIN EXCLUDE
print("$\\sum_i$`l`$_{i}$=",s)
#! END EXCLUDE

$\sum_i$`l`$_{i}$= 21

b) Use a while loop to accomplish the same sum as in a).
> Hint: Change the current index using `i += 1` and execute while `i < len(l)`

In [23]:
l = [1, 2, 3, 4, 5, 6]

#! BEGIN ANSWER
s = 0
i = 0
while i < len(l):
  s += l[i]
  i += 1
#! END ANSWER
#! BEGIN EXCLUDE
print("$\\sum_i$`l`$_{i}$=",s)
#! END EXCLUDE

$\sum_i$`l`$_{i}$= 21

>Make sure to clear your variables before moving on to the next question by running the following code block

In [24]:
%reset -f

## <#s>. Functions

Functions allow you to package the functionality of entire programs into a single statement which may make use and or return multiple variables or none.

The general syntax of a function in Python is as follows:

```python
def function_name(parameters):
    """Optional docstring describing the function."""
    # Function body
    # Perform computations
    return result
```
* The `def` keyword is used to define a function.
* `function_name` is the name of the function, which should be descriptive and meaningful.
* Parameters are optional inputs that the function can accept.
* The function body contains the code that is executed when the function is called.
* The optional docstring provides a brief description of the function's purpose and usage.
* The `return` statement specifies the value(s) to be returned by the function

Here are some examples of functions in python:
```python
# Example 1: Simple function
def greet():
    """Prints a greeting message."""
    print("Hello, world!")

# Example 2: Function with parameters and return
def multiply(a, b):
    """Multiplies two numbers."""
    return a * b

# Example 3: Function with default parameter
def power(base, exponent=2):
    """Raises a number to a power."""
    return base ** exponent

# Calling all three functions
a = 10
b = 20
greet()
a_times_b = multiply(a, b)
a_power_2 = power(a)
```

## Exercise <#q> <d4/5>

a) Make a function called `factorial` which computes the factorial of an integer. Be sure to add an if statement to confirm that the value supplied is an integer instead of a floating point number. Additionally, remember that $0!=1$.
> Hint: This can be achieved with a `for` or `while` loop

In [25]:
def factorial(num):
    """ Add documentation here """
    #! BEGIN ANSWER
    if num == 0:
        return 1
    f = 1
    while (num > 0):
        f*=num
        num -= 1
    return f
  #! END ANSWER
#! BEGIN EXCLUDE
print("3!=",factorial(3))
#! END EXCLUDE

3!= 6

b) Write a function called `list_sum` which computes the sum of values in a list.

In [26]:
def list_sum(l):
  """ Add documentation here """
  s = 0 # Sum
  #! BEGIN ANSWER
  for n in l:
    s += n
  return s
  #! END ANSWER
#! BEGIN EXCLUDE
print("`list_sum([1,2,3])`=",list_sum([1,2,3]))
#! END EXCLUDE

`list_sum([1,2,3])`= 6

>Make sure to clear your variables before moving on to the next question by running the following code block

In [27]:
%reset -f

## Homework 

Herein you can find exercises to improve your basic python skills in the basic control statements, operations, loops and functions.

If you get stuck, don't worry about asking a friend for help! You are encouraged to work together in these exercises.

### Homework Exercise <#hmq> <d3/5>

a) Write a function that returns the number of international students in the class using the dictionary below.

In [28]:
classroom = {'A': 'International', 'B': 'Dutch', 'C': 'Dutch', 'D': 'International', 'E': 'International', 'F': 'International', 'G': 'Dutch', 'H': 'Dutch'}

def students(num):
    """ Add documentation here """
    #! BEGIN ANSWER
    count = 0 
    for i in classroom:
        if classroom[i] == "International":
            count = count + 1
    return(count)
        
    #! END ANSWER

b) Using a while loop print a countdown from 10 to 1 and then print "Blastoff!"

In [29]:
#! BEGIN ANSWER
count = 10
while count > 0:
    print(count)
    count -= 1 # shortcut way of writing "count = count - 1"

print("Blastoff!")
#! END ANSWER

10
9
8
7
6
5
4
3
2
1
Blastoff!

c) Use a for loop to create a list of the 20 terms of the Fibonacci sequence. The sequence is defined as:

$$F_n = F_{n-1} + F_{n-2}$$
Where $$F_1 = 0,  F_2 = 1$$

> Hint: Remember that `list[-1]` gives you the final value in the list.

In [30]:
#! BEGIN ANSWER
a = [0,1]
for i in range(18): 
    a.append(a[-1]+a[-2])
print(a)
#! END ANSWER

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

d) Write a function that returns a list of the squares of all numbers 1 to n.

In [31]:
def SquareList(n):
    #!BEGIN ANSWER
    a = []
    for i in range(n):
        a.append((i+1)**2)
    return(a)
#!END ANSWER

e) Write a function that implements Newton's method to calculate a square root using a while loop. Newton's method starts with a guess $x > 0$, which gets closer every step by the formula:
$$x_{n+1} = \frac{1}{2}(x_n+\frac{a}{x_n})$$
This sequence will converge to the square root.

In [32]:
def mySqrt(num):
    """ Add documentation here """
    #! BEGIN ANSWER
    approx = n/2
    closer = (approx + n/approx)/2
    while close != approx:
        approx = closer
        closer = (approx + n/approx)/2
    
    return approx 
        
#! END ANSWER

>Make sure to clear your variables before moving on to the next question by running the following code block

In [33]:
%reset -f

### Homework Exercise <#hmq> <d2/5>

a) A float is sometimes not a suitable data type due to rounding errors. Prove this using the statement a=a+1 for a=10^20

In [34]:
#! BEGIN ANSWER
a = 100000000000000000000
a+1 == a

a = 100000000000000000000.0
a+1 ==a 
#! END ANSWER

True

b) Write a function that will calculate the Scrabble score of any word.
Use the following scores: a=1, b=3, c=3, d=2, e=2, f=4, g=2, h=4, i=1, j=6, k=5, l=1, m=3, n=1, o=1, p=3, q=10, r=1, s=1, t=1, u=1, v=4, w=4, y=4, z=10

>Hint: Use a dictionary to assign scores to letters

In [35]:


def ScrabbleScore(str):
    """This function calculates the scrabble score of any word"""
    #! BEGIN ANSWER
    Scrabble = {'a':1, 'b':3, 'c':3, 'd':2, 'e':2, 'f':4, 'g':2, 'h':4, 'i':1, 'j':6, 'k':5, 'l':1, 'm':3, 'n':1, 'o':1, 'p':3, 'q':10, 'r':1, 's':1, 't':1, 'u':1, 'v':4, 'w':4, 'y':4, 'z':10}

    score = 0
    for i in str:
        score += Scrabble[i]
        
    return score 

ScrabbleScore("apple")
#! END ANSWER

10

c) Write a function that counts the frequency of words in a provided text and stores the frequencies in a dictionary.

In [36]:
#! BEGIN ANSWER

def WordCounter(str):
    """This function counts the words in a text and creates a dictionary storing word and frequencies"""
    
    WordCount = {}
    words = str.split() #This separates the string by words 
    for i in words:
        if i in WordCount:
            WordCount[i] += 1
        else:
            WordCount[i] = 1
    
    return WordCount

WordCounter("We All Know How To Program Now Hip Hip Hoera Hip Hip Hoera")
#! END ANSWER

{'We': 1,
 'All': 1,
 'Know': 1,
 'How': 1,
 'To': 1,
 'Program': 1,
 'Now': 1,
 'Hip': 4,
 'Hoera': 2}

>Make sure to clear your variables before moving on to the next question by running the following code block

In [37]:
%reset -f